/* Set color scheme for page. */
:root {
  --darkest: #0d1321;
  --darker: #1d2d44;
  --mid: #3e5c76;
  --lighter: #748cab;
  --lightest: #f0ebd8;
}

/* Set body properties. */
body {
  background-color: var(--mid);
  color: var(--lightest);
}

.nav-bg-color {
  background-color: var(--darkest);
}

.nav-text-color {
  color: var(--lightest);
}

h1 {
  font-size: 250%;
}

/* nav ul {
    display:flex;
    justify-content: space-between;
    min-width:300px;
}

nav a {
    color: var(--lightest);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--lighter);
} */

/* Following are the media queries for Responsive Design. Effort was made to only set or change necessary attributes.
For the phone screen sizes a different layout was set to allow a better flow for the user. */
/* Below is for large smartphones. Tablets (max-width: 992px) were found to be satisfactory with the full screen layout at this time. */
@media screen and (max-width: 768px) {
  /* The profile image and text sizes were decreased and the layout was changed to a more vertical flow to accommodate the smaller screen size. */
  .newnav {
    display: block;
    text-align: center;
  }

  .newnavlinks {
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    min-width: auto;
  }

  h1 {
    font-size: 225%;
  }

  nav ul {
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    min-width: auto;
  }

  nav a {
    font-size: 90%;
  }
}

/* Small smartphones */
/* The layout from the large smartphones was found to be satisfactory for small smartphones as well. Sizes were adjusted to accommodate. */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 200%;
  }

  .newnava {
    font-size: 80%;
  }

  nav a {
    font-size: 80%;
  }
}
