/* Set color scheme for page. If any are not used for final product, delete them. */
:root {
    --darkest: #0D1321;
    --darker: #1D2D44;
    --mid: #3E5C76;
    --lighter: #748CAB;
    --lightest: #F0EBD8;
}

* {
    box-sizing:border-box;
    margin:0;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;
    background-color: var(--darkest);
    color: var(--lightest);
}

header h1 {
    font-size: 300%;
}

nav ul {
    display:flex;
    justify-content: space-between;
    min-width:300px;
}

nav a {
    color: var(--lightest);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--lighter);
}

body {
    background-color: var(--mid);
    color:  var(--lightest);
}

.myImage {
    text-align: center;
    background-color:var(--darker);
}

.myImage img {
    height: 400px;
}

#AboutMe {
    display:flex;
}

#AboutMe aside {
    flex: 20%;
    flex-wrap: wrap;
    margin:1%;
    border-right-style:solid;
    border-width:4px;
    border-color: var(--darkest);
}

#AboutMe section {
    flex: 80%;
    flex-wrap: wrap;
    margin:1%;
}

/* For future revision: add hover pseudo to the My Work links. */
#MyWork {
    display:flex;
}

#MyWork aside {
    flex: 20%;
    flex-wrap: wrap;
    margin:1%;
    border-right-style:solid;
    border-width:4px;
    border-color: var(--darkest);
}

#MyWork > section {
    flex: 80%;
    flex-wrap: wrap;
    margin:1%;
    display:flex;
    justify-content: space-between;
}

.largeCard {
    position:relative;
    border-style: solid;
    border-width: 2px;
    border-color:var(--lighter);
    background-color: var(--darker);
    margin-bottom:1%;
    width: 100%;
    display:flex;
    justify-content: center;
}
  
.smallCard {
    position:relative;
    border-style: solid;
    border-width: 2px;
    border-color:var(--lighter);
    background-color: var(--darker);
    margin-bottom:1%;
    width: 49%;
    display:flex;
    justify-content: center;
}

#MyWork img {
    display:block;
    max-width:100%;
    max-height:100%;
    opacity:30%;
}

.MyWorkTitles {
    position:absolute;
    flex-wrap:wrap;
    top:10px;
    left:10px;
    padding:1%;
    color:var(--lightest);
    background-color:var(--darkest);
}




footer {
    display:flex;
    justify-content:center;
    padding:2%;
    background-color: var(--darkest);
}

footer ul {
    display:flex;
    justify-content: space-between;
    min-width:600px;
}

footer a, li {
    color: var(--lightest);
    font-weight: bold;
    text-decoration: none;
}

/* Tablets */
@media screen and (max-width: 992px) {
    
}
  
/* Large smartphones */
@media screen and (max-width: 768px) {
    
}
  
  /* Small smartphones */
@media screen and (max-width: 576px) {
    header {
        display:block;
        text-align:center;
    }
    
    header h1 {
        font-size: 200%;
    }

    header a {
        font-size: 80%;
    }

    footer ul {
        font-size:80%;
        /* justify-content: between; */
        min-width:0;
    }

    footer li {
        flex-wrap:wrap;
        flex:50%;
    }
}